<ion-header no-border>
  <ion-navbar transparent color="secondary">
    <ion-title>
      {{roomName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-border>
  <ion-list>
    <ion-item *ngFor="let msg of messages" no-lines>
      <div class="chat-status" text-center *ngIf="msg.type==='JOIN'||msg.type==='LEAVE';else message">
        <span class="chat-date">{{msg.sendDate | date:'short'}}</span>
        <span class="chat-content-center">{{msg.message}}</span>
      </div>
      <ng-template #message>
        <div class="chat-message" text-right *ngIf="msg.user === chatService.user">
          <div class="right-bubble">
            <span class="msg-name">Me</span>
            <span class="msg-date">{{msg.sendDate | date:'short'}}</span>
            <p text-wrap>{{msg.message}}</p>
          </div>
        </div>
        <div class="chat-message" text-left *ngIf="msg.user !== chatService.user">
          <div class="left-bubble">
            <span class="msg-name">{{msg.user}}</span>
            <span class="msg-date">{{msg.sendDate | date:'short'}}</span>
            <p text-wrap>{{msg.message}}</p>
          </div>
        </div>
      </ng-template>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type a message" [(ngModel)]="message" name="message"
                   (keyup.enter)="sendMessage()"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="sendMessage()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
