<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="enterUsername()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Enter your Nickname</ion-label>
        <ion-input (keyup.enter)="enterUsername()" [(ngModel)]="username" name="username" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>
          <ion-button color="secondary" expand="block" size="default" type="submit">Enter</ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
